.projectsSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}
.titleContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10vh;
}
.title {
  position: relative;
  width: 55%;
  margin: 0 30px 30px 0;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 1vh;
  font-size: x-large;
}
.title::before {
  content: '';
  position: absolute;
  width: 97%;
  right: 0;
  top: 0;
  border-top: 2px solid black;
}
.projects {
  display: flex;
  flex-direction: column;
}
.addButton {
  align-self: center;
  margin: 20px 0;
}
@media (max-width: 650px) {
  .projects {
    align-items: center;
  }
}
