.projectContainer {
  position: relative;
  width: 70%;
  padding-bottom: 30px;
  margin: 10vh 0;
}
.projectContainerRight {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
}
.projectContainerLeft {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-left: 7%;
}
.projectContainerRight::before {
  content: '';
  position: absolute;
  right: 2vw;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #363636;
  border-image: linear-gradient(to left, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.projectContainerLeft::before {
  content: '';
  position: absolute;
  left: 2vw;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #363636;
  border-image: linear-gradient(to right, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.projectRight,
.projectLeft {
  display: flex;
  align-items: center;
  position: relative;
}
.projectRight {
  flex-direction: row-reverse;
}
.projectImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(15vw, 15vh);
  height: max(15vw, 15vh);
  margin: 0 3vw;
}
.projectImg {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.projectInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}
.projectTitle,
.projectDescription {
  text-align: center;
}
.projectTitle {
  padding: 10px 5vw;
  margin: 10px;
  font-weight: 400;
  font-size: x-large;
  border-bottom: 2px solid rgb(37, 37, 37);
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #202020 20% 80%, rgba(0, 0, 0, 0)) 0 0
    1%;
  text-shadow: 0px 0px 1px #131313;
}
.projectDescription {
  font-size: large;
}
.urls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}
.url {
  display: inline-block;
  position: relative;
  margin: 3px 0;
  transition: margin 0.3s ease, color 0.3s ease;
  right: 0;
  color: #1870f0;
}
.url:hover {
  margin: 7px 0;
  color: rgb(214, 0, 0);
}
.techs {
  text-align: center;
}
/* .tech {
} */
@media (max-width: 650px) {
  .projectContainer {
    width: 85%;
    align-self: initial;
    justify-content: initial;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }
  .projectRight,
  .projectLeft {
    flex-direction: column;
  }
  .projectInfoContainer {
    max-width: unset;
  }
  .projectImgContainer {
    width: 70%;
    height: unset;
  }
}
