.educationSection {
  position: relative;
}
.educationSection > h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 1vh;
}
.educationSection > h2::before {
  content: '';
  position: absolute;
  width: 54%;
  right: 5vw; /* educationSection's padding */
  top: 0;
  border-top: 2px solid #2a2a2a;
}
.educations {
  display: flex;
  flex-direction: column;
}

.educations > :nth-child(even) {
  /* educationItemRight */
  align-self: flex-end;
  flex-direction: row-reverse;
  filter: var(--global-right-shadow);
}
.educations > :nth-child(even)::before {
  content: '';
  position: absolute;
  right: 2vw;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #363636;
  border-image: linear-gradient(to left, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.educations > :nth-child(odd) {
  /* educationItemLeft */
  align-self: flex-start;
  filter: var(--global-left-shadow);
}
.educations > :nth-child(odd)::before {
  content: '';
  position: absolute;
  left: 2vw;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #363636;
  border-image: linear-gradient(to right, #202020, rgba(0, 0, 0, 0)) 0 0 1%;
}
.addButton {
  align-self: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .educations {
    align-items: center;
  }
  .educationSection > h2 {
    align-self: center;
    position: relative;
  }
  .educationSection > h2::before {
    width: 140%;
    left: -20%;
  }

  .educations > :nth-child(even),
  .educations > :nth-child(odd) {
    /* education item */
    flex-direction: column;
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    align-self: unset;
  }
}
