.educationItem {
  display: flex;
  position: relative;
  max-width: 71%;
  padding-bottom: 30px;
  margin: 10vh 0;
}
.educationImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(60vw, 35vh);
  /* height: min(50vw, 30vh); */
  margin: 0 3vw;
}
.educationImgContainer * {
  max-width: 100%;
  max-height: 100%;
  filter: var(--global-filter);
}
.educationInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 60%;
}
.educationInfo * {
  text-align: center;
}
.educationInfo h3 {
  padding: 10px 5vw;
  margin: 10px;
  font-weight: 400;
  font-size: x-large;
  border-bottom: 2px solid rgb(37, 37, 37);
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #202020 20% 80%, rgba(0, 0, 0, 0)) 0 0
    1%;
  text-shadow: 0px 0px 1px #131313;
}
.educationInfo p {
  font-size: large;
  text-align: center;
}
@media (max-width: 650px) {
  .educationContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    align-self: center;
  }
  .educationItem {
    align-items: center;
    margin: 10vh 0;
    max-width: unset;
  }
  .educationInfo {
    max-width: 85%;
  }
}
