.CloseAndEditContainer {
  display: flex;
  margin: 4px;
}
.closeIconContainer,
.editIcon {
  margin: 0 5px;
}
.closeIconContainer {
  height: max(2.5vw, 2.5vh);
  width: max(2.5vw, 2.5vh);
  min-height: 30px;
  min-width: 30px;
  max-width: 50px;
  max-height: 50px;
}
.editIcon {
  cursor: pointer;
  height: max(2.5vw, 2.5vh);
  width: max(2.5vw, 2.5vh);
  min-height: 30px;
  min-width: 30px;
  max-width: 50px;
  max-height: 50px;
}
