.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 25%;
  background-color: #2b2936;
  box-shadow: 0 0 3px rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 500ms cubic-bezier(0.3, 2.13, 0.38, 0.67);
}
.button:hover {
  box-shadow: 0 0 5px rgb(150, 150, 150) inset;
}
.button:active {
  transform: scale(1.2);
}
@media (max-width: 650px) {
  .button {
    height: 12vh;
    border-radius: 5px;
  }
}
