.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 25%;
  background-color: #93b7a8;
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 50%;
}
/* switch transition always starts with true */
.enter {
  transform: scale(1.5);
}
.enterActive {
  transform: scale(1);
  transition: transform 100ms ease;
}
.exitActive {
  transform: scale(1.5);
  transition: transform 100ms ease;
}
