.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  z-index: 3;
  padding: max(15px, 3vw);
  margin: 5px;
  background: rgb(160, 172, 170);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px rgb(17, 17, 17);
  text-shadow: 0px 0px 1px #111;
}
.modal > h2 {
  width: 50%;
  height: 15%;
  text-align: center;
  border-bottom: #222 2px solid;
  padding-bottom: 10px;
}
.modal > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 5vw;
  border: 0.5px antiquewhite;
}
.modal label {
  margin: 5px;
}
.modal input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 5px;
}
.modal form button,
.unexistentUser {
  align-self: center;
  margin: 10px 0;
}
.unexistentUser {
  color: red;
}
@media (max-width: 850px) {
  .modal {
    padding: max(15px, 3vh);
  }
  label {
    font-size: small;
  }
}

@media (max-width: 650px) {
  .modal {
    align-items: initial;
    padding: max(15px, 3vh);
  }
  .modal > h2 {
    align-self: center;
  }
  .modal label {
    font-size: small;
  }
  .modal input {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
}
