.experiencesSection {
  /*   display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%; */
  padding: 0 !important;
}
.experiencesSection > h2 {
  position: relative;
  width: 40%;
  text-align: left;
  margin: 0 2% 0 auto;
  padding-top: 1vh;
}
.experiencesSection > h2::before {
  content: '';
  position: absolute;
  width: 97%;
  right: 0;
  top: 0;
  border-top: 2px solid #2a2a2a;
}

.experiencesSection > div {
  /* projectContainer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  min-height: 100vh;
  background: linear-gradient(170deg, rgba(51, 11, 83, 0.8), rgba(17, 4, 27, 0.8));
  color: whitesmoke;
}

.experiencesSection > div:not(:first-of-type) {
  margin-top: -20%;
}
.experiencesSection > div:nth-child(even) {
  /* p is first item*/
  align-items: flex-start;
  /* clip-path: ellipse(55% 50% at 0% 50%); */
  clip-path: ellipse(40% 77% at 10% 50%);
  /* clip-path: polygon(84% 32%, 100% 50%, 85% 75%, 0% 100%, 0 100%, 0% 0%); */
  /* clip-path: polygon(0 0, 55% 25%, 55% 80%, 0% 100%); */
}
.experiencesSection > div:nth-child(odd) {
  align-items: flex-end;
  /* clip-path: ellipse(55% 50% at 93% 50%); */
  clip-path: ellipse(30% 77% at 80% 50%);
  /* clip-path: polygon(100% 0, 100% 0%, 100% 100%, 15% 67%, 0 50%, 15% 27%); */
  /* clip-path: polygon(45% 20%, 100% 0, 100% 100%, 45% 80%); */
}

.experiencesSection /* > div:nth-child(odd) */ h3 {
  text-shadow: 0px 0px 1px #dfdfdf;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #afafaf 20% 80%, rgba(0, 0, 0, 0)) 0 0 1%;
}
@media (max-width: 1200px) {
  .experiencesSection > div:nth-child(even),
  .experiencesSection > div:nth-child(odd) {
    min-height: 70vh;
    padding: 2vw 5vw;
  }
  .experiencesSection > div:nth-child(odd) {
    clip-path: ellipse(38% 77% at 75% 50%);
  }
  .experiencesSection > div:nth-child(even) {
    clip-path: ellipse(40% 77% at 20% 50%);
  }
}
@media (max-width: 650px) {
  .projects {
    align-items: center;
  }
  .experiencesSection > h2 {
    width: 60%;
  }
  .experiencesSection > div:nth-child(even),
  .experiencesSection > div:nth-child(odd) {
    flex-direction: column;
    align-items: center;
  }
  .experiencesSection > div:not(:first-of-type) {
    margin-top: -17%;
  }
  .experiencesSection > div:nth-child(odd) {
    clip-path: ellipse(215% 49% at 140% 50%);
  }
  .experiencesSection > div:nth-child(even) {
    clip-path: ellipse(182% 43% at -31% 50%);
  }
}
