.experienceContainer {
  font-size: var(--global-font-large);
}
.experienceContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(30px 30px 0px rgba(170, 57, 57, 0.151));
  max-width: 40vw;
}

.experienceImgContainer {
  width: min(40vw, 23vh);
}

.experienceImgContainer * {
  max-width: 100%;
  max-height: 100%;
}

.experienceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%;
}
.experienceInfo * {
  text-align: center;
}

.experienceInfo h3 {
  padding: 0 5vw 10px 5vw;
  margin: 0 10px 10px 10px;
  font-weight: 400;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.experienceInfo > :not(h3) {
  font-size: 0.7em;
  margin: 3px 0;
}
.experienceInfo > a {
  color: rgb(150, 190, 255);
  transition: all 0.2s ease;
}
.experienceInfo > a:hover {
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .experienceContainer > div {
    max-width: 45vw;
  }
}
