.experiencesSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
}
.titleContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10vh;
}
.titleContainer * {
  position: relative;
  width: 55%;
  margin: 0 30px 30px 0;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 1vh;
  font-size: x-large;
}
.titleContainer *::before {
  content: '';
  position: absolute;
  width: 97%;
  right: 0;
  top: 0;
  border-top: 2px solid #2a2a2a;
}
.experiences {
  display: flex;
  flex-direction: column;
}
.addButton {
  align-self: center;
  margin: 20px 0;
}

.experiences > * {
  /* experienceSectionRight and experienceSectionLeft */
  display: flex;
  flex-direction: column;
  min-height: max(45vw, 70vh);
}
.experiences > :nth-child(odd) {
  /* experienceSectionRight */
  background-image: linear-gradient(
    185deg,
    rgba(228, 228, 228, 0.1) 70%,
    rgba(34, 0, 62, 0.8) 70.2%
  );
}
.experiences > :nth-child(even) {
  /* experienceSectionLeft */
  background-image: linear-gradient(175deg, rgba(34, 0, 62, 0.8) 70%, rgba(0, 0, 0, 0) 70.2%);
}

.experiences > * > * {
  /* experienceContainerRight and experienceContainerLeft*/
  position: relative;
  width: 70%;
}

.experiences > :nth-child(odd) > * {
  /* experienceContainerRight */
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 7%;
}

.experiences > :nth-child(even) > * {
  /* experienceContainerLeft */
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-left: 7%;
}

.experiences > * > * > * > * {
  /* experienceRight and experienceLeft */
  display: flex;
  align-items: center;
  position: relative;
}
.experiences > .experienceInfoContainer {
  /* experienceInfoContainerRight experienceInfoContainerLeft */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}
.experiences > :nth-child(odd) .experienceInfoContainer {
  /* experienceInfoContainerRight */
  color: #2b2b2b;
  text-shadow: 0px 0px 1px #131313;
}
.experiences > :nth-child(even) .experienceInfoContainer {
  /* experienceInfoContainerLeft */
  color: #eae4db !important;
  text-shadow: 0 0 1px #eeeeee;
}

.experiences > :nth-child(odd) > * > * > * {
  /* experienceRight */
  flex-direction: row-reverse;
}

@media (max-width: 650px) {
  .titleContainer {
    padding-top: 0;
  }
}

@media (max-width: 650px) {
  .experiences > * {
    min-height: 45vh;
  }
  .experiences > * > * {
    align-self: center;
    align-items: center;
    width: 80%;
    margin: 0;
  }
  .experiencePadding {
    padding-bottom: 35vh;
  }
  .experiences > * > * > * > * {
    flex-direction: column;
  }
  .experienceImgContainer {
    height: max(60vw, 30vh);
    width: max(60vw, 30vh);
  }
  .experiences > .experienceInfoContainer {
    max-width: unset;
  }
}
