.feedbackMsg,
.feedbackMsgErrorContainer {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  color: white;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 2px 1px #202020;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.7s ease, z-index 0.7s ease;
  background-color: #19a819;
}
.fadeOut {
  z-index: -1;
  opacity: 0;
}
.error {
  background-color: #df2a2a;
}
.closeFeedbackMsg {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #0e0e0e;
  border: none;
}
