.techsAndInfoSection {
  width: 100%;
}
.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
  margin: 0 0 20vh 3vw;
}
.personalInfoTitle {
  margin-bottom: 20px;
  padding-top: 1vh;
  font-size: x-large;
}
.personalInfoTitle::before {
  content: '';
  position: absolute;
  width: 60%;
  left: 0;
  top: 0;
  border-top: 3px solid black;
}
.aboutMe {
  width: 90%;
  text-align: justify;
}
.techsSection {
  display: flex;
  flex-direction: column;
}
.techsTitle {
  align-self: flex-end;
  position: relative;
  width: 55%;
  margin: 0 30px 30px 0;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 1vh;
  font-size: x-large;
}
.techsTitle::before {
  content: '';
  position: absolute;
  width: 97%;
  right: 0;
  top: 0;
  border-top: 3px solid black;
}
.techsContainer {
  display: flex;
  height: max(10vh, 10vw);
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overscroll-behavior-block: contain;
  margin: 0 2vw 5vh 2vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.techContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  width: max(10vw, 10vh);
}
.techImageContainer {
  margin: 10px;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
}
.techImg {
  max-height: 100%;
  max-width: 100%;
}
