.techContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}
.techImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin: max(1vw, 1vh);
  padding: max(3vw, 4vh);
  border-radius: 50%;
  box-shadow: 0 0 5px #08001e;
}
.techImageContainer img {
  height: 8.55vw;
}
@media (max-width: 650px) {
  .techImageContainer img {
    height: 25vw;
  }
}
