.projectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectInputs {
  display: flex;
  flex-direction: column;
}
/* .projectInput {
} */
.inputLabel {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2% 2% 2% 0;
}
.singleElements {
  display: flex;
  flex-wrap: wrap;
}
.techsSection {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin: 2% 2% 2% 0;
  flex: 1;
}
.techContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.urlsSection {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 0;
}
.urlsContainer {
  display: flex;
  flex-direction: column;
}
.urlItem {
  display: flex;
  align-items: center;
}
.urlContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 4px 0;
  border-left: 2px solid black;
  border-image: linear-gradient(to bottom, #202020 80%, rgba(0, 0, 0, 0)) 1%;
}
.urlInputContainer {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.urlInput {
  flex: 1;
}
.urlLabel {
  margin: 0 10px;
  min-width: 15%;
}
.toggleAddUrlButton {
  align-self: center;
}
.addButton {
  align-self: center;
  transform: rotate(45deg);
}
.deleteButton {
  margin: 5px;
}
@media (max-width: 650px) {
  /*  .projectForm {
    align-items: initial;
  } */
  .singleElements {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .inputLabel {
    flex: initial;
  }
  .techsSection {
    flex: initial;
    min-width: unset;
  }
  .urlItem {
    flex-direction: column;
  }
  .urlContainer {
    padding-left: 5px;
  }
  .urlInputContainer {
    flex-direction: column;
  }
}
