.projectForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectForm > :first-child {
  /* singleElements*/
  display: flex;
  flex-direction: column;
}

.projectForm > :first-child > :first-child > * {
  /*inputContainer*/
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2% 2% 2% 0;
}
.projectForm > :first-child > :first-child {
  display: flex;
  flex-wrap: wrap;
}
.techsSection {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin: 2% 2% 2% 0;
  flex: 1;
}
.tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.urlsSection {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 0;
}
.urls {
  display: flex;
  flex-direction: column;
}
.urlContainer {
  display: flex;
  align-items: center;
}
.url {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 4px 0;
  border-left: 2px solid black;
  border-image: linear-gradient(to bottom, #202020 80%, rgba(0, 0, 0, 0)) 1%;
}
.url > * {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.url > * > label {
  margin: 0 10px;
  min-width: 15%;
}
.url > * > input {
  flex: 1;
}
.toggleAddUrlButton {
  align-self: center;
}
.addButton {
  align-self: center;
  transform: rotate(45deg);
}
.deleteButton {
  margin: 5px;
}
@media (max-width: 650px) {
  /*  .projectForm {
    align-items: initial;
  } */
  .projectForm > :first-child > :first-child {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .inputContainer {
    flex: initial;
  }
  .techsSection {
    flex: initial;
    min-width: unset;
  }
  .urlContainer {
    flex-direction: column;
  }
  .url {
    padding-left: 5px;
  }
  .urlInputContainer {
    flex-direction: column;
  }
}
