.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
