.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: var(--global-font-large);
}
.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
