/* there are two section shown at the same time

when going to the next section, the current adquires previous-exit's classes (and goes left)
when going to the previous section, the current adquires next-exit's classes (and goes right)
*/
.next-enter {
  opacity: 0;
  transform: translate(-100%);
}
.next-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: opacity 650ms, transform 650ms ease;
}
.next-exit {
  transform: translate(-100%);
  opacity: 1;
}
.next-exit-active {
  transform: translate(0%);
  opacity: 0;
  transition: opacity 650ms, transform 650ms ease;
}

.previous-enter {
  opacity: 0;
  transform: translate(0);
}
.previous-enter-active {
  opacity: 1;
  transition: opacity 650ms, transform 650ms ease;
  transform: translate(-100%);
}
.previous-exit {
  opacity: 1;
  transform: translate(0);
}
.previous-exit-active {
  transform: translate(-100%);
  opacity: 0;
  transition: opacity 650ms, transform 650ms ease;
}
