.responseMsgContainer,
.responseMsgErrorContainer {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  color: white;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 2px 1px #202020;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.7s ease, z-index 0.7s ease;
}
.responseMsgContainerFadeOut {
  z-index: -1;
  opacity: 0;
}
.responseMsgContainer {
  background-color: #19a819;
}
.responseMsgErrorContainer {
  background-color: #df2a2a;
}
.closeResponseModal {
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #0e0e0e;
  border: none;
}
.main {
  position: relative;
}

.sectionLinks {
  display: flex;
  width: 62%;
  box-shadow: 0px 0px 14px -6px #444 inset;
  border-radius: 0 0 40px 0;
  font-size: var(--global-font-small);
  border-bottom: 2px #3e3e3e solid;
}

.sectionLinks > * {
  line-height: 60px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  border-radius: 0 0 40px 0;
  font-size: 1.2em;
  transition: all 0.2s ease;
  position: relative;
}

.sectionLinks > *:hover {
  font-size: 1.25em;
  color: rgb(59, 20, 75);
  text-shadow: 0 0 0.5px rgb(59, 20, 75);
  box-shadow: -7px 0px 14px -12px rgb(54, 54, 54) inset;
}
.clickedSectionLink {
  border-bottom-right-radius: 40px;
  border-right: 5px solid rgb(48, 54, 62);
}
.clickedSectionLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-bottom-right-radius: 40px;
  border-right: 5px solid rgb(48, 54, 62);
  box-shadow: 4px -1px 5px 0 rgba(0, 0, 0, 0.267);
  transition: all 0.3s ease;
}

.clickedSectionLink:hover::before {
  box-shadow: none;
}

.sectionsContainer {
  display: flex;
  padding: 22vh 0;
  position: relative;
  transition: all 0.8s cubic-bezier(0.97, -0.38, 0.07, 1.3);
}
.sectionsContainer > * {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 0 3.5vw;
}
.arrowTrack {
  /* previousArrowContainer nextArrowContainer */
  position: absolute;
  height: 100%;
  z-index: 2;
}
.main > :first-child > :nth-child(even) {
  /* nextArrowContainer*/
  right: 0;
}
.arrowTrack > * {
  /* nextArrow previousArrow*/
  display: flex;
  position: sticky;
  top: 50vh;
  cursor: pointer;
  transform: scale(1);
  transition: transform 200ms ease;
}
.arrowTrack:nth-child(odd) > * {
  /* previousArrow*/
  transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .bottomPart {
    padding-top: 23vh;
  }
  .sectionsContainer {
    padding: 13vh 0 7vh 0;
  }
  .sectionLinks {
    position: relative;
    border-radius: 3px 3px 40px 40px;
    box-shadow: 6px 7px 3px #0000004f;
    border: 2px solid rgb(17, 51, 62);
    margin: auto;
    background: linear-gradient(145deg, #0000 40%, #00000035);
    flex-direction: column;
    padding: 0 11%;
  }
  .sectionLinks::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0 0 40px 40px;
  }
  .sectionLinks > * {
    z-index: 5;
  }
  .clickedSectionLink::before {
    box-shadow: 8px 3px 0px #0000000f;
    border-radius: 0 0 40px 40px;
  }
}
