.educationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educationInputs {
  display: flex;
  flex-wrap: wrap;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 46%;
  margin: 2%;
}
.educationInput {
}
.educationLabel {
}
