.educationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educationInputs {
  display: flex;
  flex-wrap: wrap;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  width: 46%;
  margin: 2%;
}
.educationInput {
}
.educationLabel {
}
@media (max-width: 650px) {
  .educationInputs {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .inputLabel {
    width: unset;
  }
}
