.headerShadowContainer {
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: drop-shadow(-20px -31px 10px #00000036);
}
.headerShadow {
  clip-path: ellipse(91% 120% at 4% 99%);
  /* clip-path: ellipse(91% 120% at 9% 99%); */
  width: 100%;
  height: 100%;
  background: linear-gradient(160deg, rgb(80, 144, 159) -10%, rgba(19, 3, 26, 0.95));
  /* background: linear-gradient(to bottom right, #a9abd0, rgb(10, 10, 10)); */
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  /* background: linear-gradient(to bottom right, #a9abd0, black); */
  /* clip-path: ellipse(100% 100% at 9% 99%); */
  /* clip-path: ellipse(91% 120% at 9% 99%); */
  /* box-shadow: 0 0 10px 1px #363636; */
  font-size: var(--global-font-large);
}
.infoAndTitle {
  position: relative;
}
.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: min(52.5vw, 21.25vh); /* (profileImg + fullName)/2 */
}
.infoContainer h3 {
  position: relative;
  margin-left: 8%;
  padding-top: 2vh;
  font-size: 1.2em;
  font-family: Comfortaa;
  text-shadow: 0.8px 0.8px rgb(0, 0, 0);
  color: rgb(200, 200, 200);
}
.infoContainer h3::before {
  content: '';
  position: absolute;
  width: 108%; /* 100% + margin */
  right: 4%; /* margin / 2 */
  top: 0;
  border-top: 3px solid rgb(200, 200, 200);
}
.infoContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-right: 5vw;
  z-index: 1;
}
.profileImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImgContainer img {
  height: min(60vw, 33vh);
  margin-top: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px #08001e;
}
.profileImgContainer h1 {
  line-height: min(15vw, 7vh);
  text-shadow: 0.5px 0.5px 3px #9e9e9e;
}
@media (max-width: 650px) {
  .headerShadow {
    clip-path: ellipse(137% 66% at 16% 90%);
  }
  .infoContainer h3 {
    margin-bottom: 15px;
    margin-left: 0;
    text-align: center;
  }
  .infoContainer h3::before {
    width: 84%;
    right: 8%;
  }
  .infoContainer {
    flex-direction: column;
    align-items: center;
  }
  .infoContainer > div {
    margin: 0;
  }
}
