header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 60vh;
  background-image: url('../../../public/assets/img/banner2.jpg');
}
.infoAndTitle {
  position: relative;
}
.infoContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: min(50vw, 17.5vh);
}
.headerTitleContainer {
  display: flex;
  justify-content: center;
  width: 60%;
}
.headerTitle {
  position: relative;
  margin-left: 8%;
  padding-top: 2vh;
  font-size: xx-large;
  color: white;
}
.headerTitle::before {
  content: '';
  position: absolute;
  width: 117%;
  right: 5%;
  top: 0;
  border-top: 3px solid white;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-right: 33px;
  z-index: 1;
}
.profileImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileImg {
  height: min(80vw, 25vh);
  margin-top: 15px;
  border-radius: 50%;
}
.fullName {
  line-height: min(10vw, 4.5vh);
  font-size: x-large;
  font-weight: lighter;
}
@media (max-width: 650px) {
  .headerTitle {
    margin-bottom: 15px;
  }
  .headerTitle::before {
    width: 81%;
    right: 23%;
  }
  .infoContainer {
    flex-direction: column;
    align-items: center;
  }
  .userInfo {
    margin: 0;
  }
}
