.techForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techInputs {
  display: flex;
  flex-direction: column;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
